@import "src/styles/values.scss";

.fileExplorer {
  display: inline-block;
  max-width: calc(100vw - #{$padding-small} * 4);
  max-height: calc(100vh - #{$padding-small} * 4);

  overflow: auto !important;

  .content {
    .pathTextfield {
      margin: 0;
      margin-bottom: $padding-normal;
    }

    .fileGrid {
      display: grid;
      grid-template-columns: repeat(2, min-content);
      column-gap: $padding-large;
      row-gap: $padding-small;

      span {
        white-space: nowrap;
      }

      .name {
        &.dir {
          font-weight: 500;
        }
      }

      .size {
        .unit {
          font-size: $font-small;
        }
      }
    }
  }
}
