@import "src/styles/values.scss";
@import "src/styles/colors.scss";

.terminal {
  display: inline-block;

  .sizeController {
    position: relative;

    min-width: 400px;
    min-height: 200px;
    width: 400px;
    height: 200px;

    .wrapper {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;

      display: flex;
      flex-flow: column;
      justify-content: space-between;

      background: $black-light;
      margin: $padding-normal;
      padding: $padding-normal;
      margin-top: 0;
      border-radius: $border-radius;

      &:last-child {
        padding-bottom: $padding-normal;
      }

      .content {
        font-weight: 500;
        white-space: pre-line;
        line-height: 1.1;
        overflow-y: scroll;

        flex: 1;
      }

      .commandField {
        padding-top: $padding-normal;

        input {
          padding: 0;
        }

        .inputAdornment {
          pointer-events: none;
        }
      }
    }
  }
}
