// https://material-ui.com/style/color/
// shade 100
$primary-dark: #7c9c99;
$primary-main: #b2dfdb;
$primary-light: #c1e5e2;

// shade 300
$secondary-dark: #545d8e;
$secondary-main: #7986cb;
$secondary-light: #939ed5;

$black-light: #f5f5f5;
$black-main: #e0e0e0;
$black-dark: #757575;
